body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  color: #555454;
  background-color: #fff7f0;
  color: #555454;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

/* Box sizing rules and Remove default margin*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transition-100s and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* styling */
a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.container {
  width: min(1000px, 95%);
  margin-inline: auto;
}

button {
  border-radius: 0.2rem;
  font-family: inherit;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;
  cursor: pointer;
}

/* utility classes */
/* text color */
.text-primary-100 {
  color: #ea7564;
}

.text-primary-200 {
  color: #00acee;
}

.text-primary-300 {
  color: #62c4b7;
}

.text-accent-100 {
  color: #ffffff;
}

.text-accent-200 {
  color: #fbf8f3;
}

.text-accent-300 {
  color: #fff7f0;
}

.text-accent-400 {
  color: #ffb841;
}

.text-accent-500 {
  color: rgba(160, 156, 156, 0.1294117647);
}

.text-neutral-100 {
  color: #000000;
}

.text-neutral-200 {
  color: #555454;
}

/* background color */
.bg-primary-100 {
  background-color: #ea7564;
}

.bg-primary-200 {
  background-color: #00acee;
}

.bg-primary-300 {
  background-color: #62c4b7;
}

.bg-accent-100 {
  background-color: #ffffff;
}

.bg-accent-200 {
  background-color: #fbf8f3;
}

.bg-accent-300 {
  background-color: #fff7f0;
}

.bg-accent-400 {
  background-color: #ffb841;
}

.bg-accent-500 {
  background-color: rgba(160, 156, 156, 0.1294117647);
}

.bg-neutral-100 {
  background-color: #000000;
}

.bg-neutral-200 {
  background-color: #555454;
}

/* font-weight */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* font-size */
.fs-100 {
  font-size: 12px;
}

.fs-200 {
  font-size: 16px;
}

.fs-300 {
  font-size: 1em;
}

.fs-400 {
  font-size: 1.5em;
}

.fs-500 {
  font-size: 1.8em;
}

.fs-600 {
  font-size: 2em;
}

.fs-700 {
  font-size: 2.5em;
}

.fs-800 {
  font-size: 3em;
}

.ts-400 {
  transition: all 0.2s linear;
}

.btn-radius {
  border-radius: 0.2rem;
}

.link-button {
  background-color: #ea7564;
  padding: 0.5em 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0392156863);
  font-size: 18px;
  font-weight: 400;
  border-radius: 0.2rem;
  color: #ffffff;
  transition: all 0.2s linear;
}
.link-button:hover {
  background-color: #00acee;
}

@media (min-width: 30em) {
  .link-button {
    padding: 0.5em 2rem;
  }
}
.icon {
  fill: #555454;
  width: 100%;
  aspect-ratio: 1;
}

.logo a {
  font-style: italic;
  color: #000000;
  font-size: 1em;
  font-weight: 700;
}

.space-margin-top {
  margin-top: 5rem;
}

header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .contact-btn {
  background-color: #050304;
  display: none;
}

@media (min-width: 16.5em) {
  header .contact-btn {
    display: block;
  }
}
main .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  text-align: center;
}
main .home h1 {
  color: #000000;
  font-size: 2.5em;
  line-height: 1.5;
  border-right: 5px solid #000000;
  overflow: hidden;
  white-space: nowrap;
}
main .home .name-animation {
  animation: typewriter 4s steps(20) 1s infinite both, blinkCursor 500ms steps(20) infinite;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: #000000;
  }
  to {
    border-right-color: transparent;
  }
}
main .home p {
  text-align: center;
  font-size: 18px;
  width: min(100%, 800px);
}
main .home .language-icons {
  width: min(100%, 900px);
  margin: 1em 0;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  display: grid;
}
main .home .language-icons .icon:first-child {
  width: min(50%, 500px);
  margin-inline: auto;
}
main .home .language-icons .icon:last-child {
  width: min(50%, 500px);
  margin-inline: auto;
}
main .home .language-icons span {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 30em) {
  .home .language-icons {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .home .language-icons .icon:first-child {
    width: 100% !important;
  }
  .home .language-icons .icon:last-child {
    width: 100% !important;
  }
}
.about {
  display: grid;
  margin-top: 5rem;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}
.about-contant-profile-img img {
  border-radius: 100%;
}
.about-contant-profile-about {
  text-align: center;
}
.about-contant-profile-about h1 {
  color: #000000;
  font-size: 1.5em;
  line-height: 1.2;
  word-spacing: 0.5;
}
.about-contant-profile-about p {
  font-size: 18px;
  margin: 1em 0;
}

@media (min-width: 45em) {
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-contant-profile-about {
    text-align: justify;
  }
}
.work h1 {
  text-align: center;
  color: #000000;
}
.work .git-desc {
  max-width: 50ch;
  text-align: center;
  margin-inline: auto;
  font-size: 18px;
}
.work .git-desc a {
  color: #ea7564;
}
.work .work-cards {
  height: min(100%, 400px);
  display: flex;
  overflow-x: auto;
  gap: 1em;
  margin: 2rem 0;
  scroll-snap-type: x mandatory;
}
.work .work-cards .card {
  scroll-snap-align: start;
  min-width: 80%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0392156863);
  transition: all 0.2s linear;
}
.work .work-cards .card :where(:hover, :focus-within) {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.0784313725), 0 0 1px rgba(1, 0, 0, 0.1019607843);
}
.work .work-cards::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 30em) {
  .work .work-cards .card {
    min-width: 400px;
    min-height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.0392156863);
  }
}
.contact {
  display: grid;
  gap: 1.5rem;
  background-color: #050304;
  color: #ffffff;
  border-radius: 0.2rem;
  padding: 1em;
  justify-items: center;
}
.contact-contant-1 {
  margin: 1em 0;
}
.contact-contant-1 h1 {
  font-size: 1.5em;
  line-height: 1.2;
  text-align: center;
}
.contact-contant-1 ul li {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 1em 0;
}
.contact-contant-2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 30em) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .contact-contant-1 {
    margin: 1em 0;
  }
  .contact-contant-1 h1 {
    text-align: left;
  }
  .contact-contant-1 ul li {
    line-height: 1.5;
    text-align: left;
  }
  .contact-contant-2 {
    display: flex;
    gap: 1em;
  }
}
footer {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
footer .contact-btn {
  display: none;
}

@media (min-width: 18em) {
  footer .contact-btn {
    background-color: #050304;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */