main {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $size-200;
    text-align: center;
    h1 {
      color: $clr-neutral-100;
      font-size: $fs-700;
      line-height: 1.5;
      border-right: 5px solid $clr-neutral-100;
      overflow: hidden;
      white-space: nowrap;
    }
    .name-animation {
      animation: typewriter 4s steps(20) 1s infinite both,
        blinkCursor 500ms steps(20) infinite;
    }
    @keyframes typewriter {
      from {
        width: 0;
      }
      to {
        width: 11em;
      }
    }

    @keyframes blinkCursor {
      from {
        border-right-color: $clr-neutral-100;
      }
      to {
        border-right-color: transparent;
      }
    }

    p {
      text-align: center;
      font-size: $fs-200-1;
      width: calc(min(100%, 800px));
    }
    .language-icons {
      width: calc(min(100%, 900px));

      margin: $size-200 0;
      grid-template-columns: repeat(1, 1fr);
      gap: $size-200;
      display: grid;
      .icon:first-child {
        width: calc(min(50%, 500px));
        margin-inline: auto;
      }
      .icon:last-child {
        width: calc(min(50%, 500px));
        margin-inline: auto;
      }
      span {
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 30em) {
  .home {
    .language-icons {
      grid-template-columns: repeat(3, 1fr) !important;
      .icon:first-child {
        width: 100% !important;
      }
      .icon:last-child {
        width: 100% !important;
      }
    }
  }
}
