header {
  padding: $size-400 0;
  @include flex-jSpace_between-aCenter;

  .contact-btn {
    background-color: $clr-neutral-300;
    display: none;
  }
}
@media (min-width: 16.5em) {
  header .contact-btn {
    display: block;
  }
}
